<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.hpi.TestScripts.Verify_ServiceCenter_AutomationFlow_MultiAttachments"/>
      <class name="com.hpi.TestScripts.Verify_ServiceCenter_CreateCase_FileSizeError"/>
      <class name="com.hpi.TestScripts.Verify_ServiceCenter_CreateCase_pdfAttachment"/>
      <class name="com.hpi.TestScripts.Verify_ServiceCenter_CreateCase_jpegAttachment"/>
      <class name="com.hpi.TestScripts.Verify_ServiceCenter_CreateCase_textAttachment"/>
      <class name="com.hpi.TestScripts.Verify_ServiceCenter_RetrieveCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
